/03_hourly_prices.png
/03_monthly_avg_prices.png
/03_intraday_3week.png
/03_daily_profile.png
/03_electricity_vs_gas.png
/03_renewables_vs_load.png
/03_monthly_residual_load.png
/03_price_vs_residual_recent.png
/03_price_vs_residual_2025.png
/04_srmc_timeseries.png
/04_monthly_srmc.png
/04_fuel_switching.png
/04_srmc_components.png
/04_actual_vs_reconstructed.png
/04_scatter_reconstructed_vs_actual.png
/04_scatter_residual_load_vs_price.png
/04_scatter_fossil_rl_vs_price.png
/04_r2_comparison.png
