name: build

on:
  pull_request:
    branches:
      - main

jobs:
  build-the-book:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: uv python install

      - name: Build the book
        run: uv run myst build --html
        working-directory: book
